all_wf.json
[{"updatedAt":"2026-02-20T05:32:02.022Z","createdAt":"2026-02-20T04:49:55.024Z","id":"kQXMXt9cEz66jOw9","name":"WF_Agent_BA","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sim/v2a/agent/ba","responseMode":"responseNode","options":{}},"id":"fd575c74-17c8-43a8-bf1d-c4f6cf28d95a","name":"Webhook BA","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-416,240],"webhookId":"b112947e-3878-476a-ad63-d5b84ecb90d5"},{"parameters":{"jsCode":"const body = $json.body ?? $json;\nconst candidateMsg = String(body.candidate_last_message || '').trim();\n\nlet text = 'Can you give delivery sequencing and ETA in one line?';\nif (/delay|defer|later|after hotfix/i.test(candidateMsg)) {\n  text = 'If we defer VIP discount, what business impact should I communicate now?';\n} else if (/ship vip|vip first/i.test(candidateMsg)) {\n  text = 'If VIP ships now, how do you contain payment risk in the same window?';\n}\n\nreturn [{\n  json: {\n    agent: 'ba',\n    text,\n    intent_tag: 'ba_scope_deadline_impact',\n    needs_followup: true\n  }\n}];"},"id":"6cc12a7c-8ad4-4bf2-bf63-7e88fc57bda1","name":"Generate BA Reply","type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,240]},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{}},"id":"9b0cbbdb-ed8b-47e6-aa1d-b0eb457f6a8b","name":"Respond BA","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[64,240]}],"connections":{"Webhook BA":{"main":[[{"node":"Generate BA Reply","type":"main","index":0}]]},"Generate BA Reply":{"main":[[{"node":"Respond BA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3b80cc84-71ce-468b-bf10-1c3d1870621e","activeVersionId":"3b80cc84-71ce-468b-bf10-1c3d1870621e","versionCounter":9,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-20T04:49:55.030Z","createdAt":"2026-02-20T04:49:55.030Z","role":"workflow:owner","workflowId":"kQXMXt9cEz66jOw9","projectId":"GMti3yVfXXNaA8WZ","project":{"updatedAt":"2026-02-20T04:54:01.168Z","createdAt":"2026-02-20T04:49:18.501Z","id":"GMti3yVfXXNaA8WZ","name":"Tran Dung Do <adriando@umich.edu>","type":"personal","icon":null,"description":null,"creatorId":"3b71ac73-c80c-47e9-a210-e6fb9bac3948"}}]},{"updatedAt":"2026-02-20T05:31:42.669Z","createdAt":"2026-02-20T04:49:55.490Z","id":"ne4zxBzmEngsv2di","name":"WF_Agent_TechLead","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sim/v2a/agent/techlead","responseMode":"responseNode","options":{}},"id":"7df40e21-2f24-4b58-956f-5d0f604fefdb","name":"Webhook TechLead","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-416,240],"webhookId":"bd8c75ed-7afa-4917-9c37-2965970aaa87"},{"parameters":{"jsCode":"const body = $json.body ?? $json;\nconst candidateMsg = String(body.candidate_last_message || '').trim();\n\nlet text = 'Pick one now: hotfix first or VIP feature first, and why?';\nif (/hotfix first/i.test(candidateMsg)) {\n  text = 'State rollback and monitoring plan in one concise answer.';\n} else if (/vip first/i.test(candidateMsg)) {\n  text = 'State immediate risk controls if VIP ships first.';\n}\n\nreturn [{\n  json: {\n    agent: 'tech_lead',\n    text,\n    intent_tag: 'techlead_tradeoff_risk',\n    needs_followup: true\n  }\n}];"},"id":"f93f6c19-d8a6-4f3e-a72f-b93430bff899","name":"Generate TechLead Reply","type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,240]},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{}},"id":"32102287-7455-45ce-b84c-4136f2fdce94","name":"Respond TechLead","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[64,240]}],"connections":{"Webhook TechLead":{"main":[[{"node":"Generate TechLead Reply","type":"main","index":0}]]},"Generate TechLead Reply":{"main":[[{"node":"Respond TechLead","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"74f7bd90-5e70-4e46-961f-d996ffc136ec","activeVersionId":"74f7bd90-5e70-4e46-961f-d996ffc136ec","versionCounter":9,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-20T04:49:55.494Z","createdAt":"2026-02-20T04:49:55.494Z","role":"workflow:owner","workflowId":"ne4zxBzmEngsv2di","projectId":"GMti3yVfXXNaA8WZ","project":{"updatedAt":"2026-02-20T04:54:01.168Z","createdAt":"2026-02-20T04:49:18.501Z","id":"GMti3yVfXXNaA8WZ","name":"Tran Dung Do <adriando@umich.edu>","type":"personal","icon":null,"description":null,"creatorId":"3b71ac73-c80c-47e9-a210-e6fb9bac3948"}}]},{"updatedAt":"2026-02-20T05:28:23.319Z","createdAt":"2026-02-20T04:49:55.979Z","id":"1u9LKkCLRLiybRvs","name":"WF_Main_Orchestrator","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sim/v2a/session/start","responseMode":"responseNode","options":{}},"id":"e33e8c37-bce8-463a-9710-a95fbca6f5ff","name":"Webhook Start","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1040,-144],"webhookId":"122908e8-998e-48d5-85f0-e8a2fd83831d"},{"parameters":{"jsCode":"const body = $json.body ?? $json;\nif (!body.session_id) throw new Error('Missing session_id');\n\nreturn [{\n  json: {\n    ok: true,\n    session_id: body.session_id,\n    message: 'Orchestrator ready',\n    note: 'Use /sim/v2/session/event for runtime routing'\n  }\n}];"},"id":"338927ac-e10b-44ba-a8fd-a2f440440642","name":"Init Session","type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,-144]},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{}},"id":"2e4364ec-f728-4783-be8b-869a2a23d6a8","name":"Respond Start","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[-608,-144]},{"parameters":{"httpMethod":"POST","path":"sim/v2a/session/event","responseMode":"responseNode","options":{}},"id":"7f231f02-3772-495a-8630-2ff8d8468f4a","name":"Webhook Event","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1040,272],"webhookId":"d1529f01-952f-4b67-ad97-3cc7417efae6"},{"parameters":{"jsCode":"const body = $json.body ?? $json;\nconst data = body.data || {};\nconst txt = String(data.text || '').toLowerCase();\nconst addressed = String(data.addressed_to || '').toLowerCase();\n\nlet role = 'techlead';\nif (addressed === 'qa') role = 'qa';\nelse if (addressed === 'ba') role = 'ba';\nelse if (addressed === 'tech_lead' || addressed === 'techlead') role = 'techlead';\nelse {\n  if (/(repro|log|test|duplicate|steps)/.test(txt)) role = 'qa';\n  else if (/(deadline|eta|scope|business|impact|campaign|vip)/.test(txt)) role = 'ba';\n  else role = 'techlead';\n}\n\nconst frontendWebhook = data.frontend_agent_webhook || body.frontend_agent_webhook || 'http://localhost:3000/sim/session/agent-message';\n\nreturn [{\n  json: {\n    session_id: body.session_id,\n    role,\n    candidate_last_message: data.text || '',\n    frontend_agent_webhook: frontendWebhook,\n    raw_event: body\n  }\n}];"},"id":"5d31bc2b-bfdc-427e-bd18-dcd3dbf65e6f","name":"Route Role","type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,272]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.role}}","operation":"equals","value2":"qa"}]},"options":{}},"id":"f34a00f2-d52e-4624-a3db-305fba7e4acc","name":"If QA","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-608,272]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.role}}","operation":"equals","value2":"ba"}]},"options":{}},"id":"4c6259ff-c7be-4924-b5d5-66f3a6cd716e","name":"If BA","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-384,384]},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/sim/v2a/agent/qa","sendBody":true,"specifyBody":"json","jsonBody":"={{ { session_id: $json.session_id, candidate_last_message: $json.candidate_last_message } }}","options":{}},"id":"a02f6fd0-6f91-4d47-9f99-66ea2f89f0f9","name":"Call QA Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,192]},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/sim/v2a/agent/ba","sendBody":true,"specifyBody":"json","jsonBody":"={{ { session_id: $json.session_id, candidate_last_message: $json.candidate_last_message } }}","options":{}},"id":"34f1fcd8-d661-48bf-b718-a1282fc568d0","name":"Call BA Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,352]},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/sim/v2a/agent/techlead","sendBody":true,"specifyBody":"json","jsonBody":"={{ { session_id: $json.session_id, candidate_last_message: $json.candidate_last_message } }}","options":{}},"id":"eac6ce9c-b6af-4842-915e-f7077314dc28","name":"Call TechLead Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,512]},{"parameters":{"jsCode":"const merged = $json;\nconst agent = merged.agent || 'tech_lead';\nlet text = String(merged.text || 'Please clarify your decision in one line.').trim();\n\n// Guardrail: max 1 question per turn.\nconst qMarks = (text.match(/\\?/g) || []).length;\nif (qMarks > 1) {\n  const firstQ = text.split('?')[0].trim();\n  text = `${firstQ}?`;\n}\n\nreturn [{\n  json: {\n    endpointUrl: $item(0).$node['Route Role'].json.frontend_agent_webhook,\n    payload: {\n      session_id: $item(0).$node['Route Role'].json.session_id,\n      message_id: `msg_${agent}_${Date.now()}`,\n      agent: agent === 'techlead' ? 'tech_lead' : agent,\n      kind: 'question',\n      text,\n      meta: { routed: true }\n    },\n    responseBody: { ok: true, role: agent }\n  }\n}];"},"id":"9a8fd18f-2396-4b2b-9640-7248cc448005","name":"Guardrail + Compose Outbound","type":"n8n-nodes-base.code","typeVersion":2,"position":[80,352]},{"parameters":{"method":"POST","url":"={{$json.endpointUrl}}","sendBody":true,"specifyBody":"json","jsonBody":"={{$json.payload}}","options":{}},"id":"31b9e8c3-4dd0-4f3b-94a4-e7f7c44d5e24","name":"Send To Frontend","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,352]},{"parameters":{"respondWith":"json","responseBody":"={{$json.responseBody || { ok: true }}}","options":{}},"id":"d97e6f9f-ac6b-4c2a-a9bf-7d98574ec8b2","name":"Respond Event","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[544,352]}],"connections":{"Webhook Start":{"main":[[{"node":"Init Session","type":"main","index":0}]]},"Init Session":{"main":[[{"node":"Respond Start","type":"main","index":0}]]},"Webhook Event":{"main":[[{"node":"Route Role","type":"main","index":0}]]},"Route Role":{"main":[[{"node":"If QA","type":"main","index":0}]]},"If QA":{"main":[[{"node":"Call QA Workflow","type":"main","index":0}],[{"node":"If BA","type":"main","index":0}]]},"If BA":{"main":[[{"node":"Call BA Workflow","type":"main","index":0}],[{"node":"Call TechLead Workflow","type":"main","index":0}]]},"Call QA Workflow":{"main":[[{"node":"Guardrail + Compose Outbound","type":"main","index":0}]]},"Call BA Workflow":{"main":[[{"node":"Guardrail + Compose Outbound","type":"main","index":0}]]},"Call TechLead Workflow":{"main":[[{"node":"Guardrail + Compose Outbound","type":"main","index":0}]]},"Guardrail + Compose Outbound":{"main":[[{"node":"Send To Frontend","type":"main","index":0}]]},"Send To Frontend":{"main":[[{"node":"Respond Event","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"89d207e7-08c9-4f85-9671-0a77d9459a91","activeVersionId":"89d207e7-08c9-4f85-9671-0a77d9459a91","versionCounter":30,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-02-20T04:49:55.985Z","createdAt":"2026-02-20T04:49:55.985Z","role":"workflow:owner","workflowId":"1u9LKkCLRLiybRvs","projectId":"GMti3yVfXXNaA8WZ","project":{"updatedAt":"2026-02-20T04:54:01.168Z","createdAt":"2026-02-20T04:49:18.501Z","id":"GMti3yVfXXNaA8WZ","name":"Tran Dung Do <adriando@umich.edu>","type":"personal","icon":null,"description":null,"creatorId":"3b71ac73-c80c-47e9-a210-e6fb9bac3948"}}]},{"updatedAt":"2026-02-20T05:32:15.777Z","createdAt":"2026-02-20T04:50:04.777Z","id":"q55Rpyl31a6iWmbH","name":"WF_Agent_QA","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sim/v2a/agent/qa","responseMode":"responseNode","options":{}},"id":"4f0d0c31-9b74-4a53-a6f8-d1810bd1d3ae","name":"Webhook QA","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-416,240],"webhookId":"c840389f-6f7c-49a1-b506-c8afb8ea433d"},{"parameters":{"jsCode":"const body = $json.body ?? $json;\nconst candidateMsg = String(body.candidate_last_message || '').trim();\n\nlet text = 'Share your first containment step. I will validate with replay tests.';\nif (/repro|steps|how to reproduce|log/i.test(candidateMsg)) {\n  text = 'Repro: retry checkout with simulated gateway timeout. Confirm idempotency key handling first.';\n} else if (/done|fixed|patched/i.test(candidateMsg)) {\n  text = 'What exact test proves duplicate-charge is contained in production-like conditions?';\n}\n\nreturn [{\n  json: {\n    agent: 'qa',\n    text,\n    intent_tag: 'qa_repro_validation',\n    needs_followup: true\n  }\n}];"},"id":"a6fe8d2e-5f35-4f47-b4e9-51f6d60d9a8f","name":"Generate QA Reply","type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,240]},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{}},"id":"e6f93e27-4dc2-452a-a1d5-fb9847f22752","name":"Respond QA","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[64,240]}],"connections":{"Webhook QA":{"main":[[{"node":"Generate QA Reply","type":"main","index":0}]]},"Generate QA Reply":{"main":[[{"node":"Respond QA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"632a1292-8648-4cfb-9aef-3a87dc3a29ab","activeVersionId":"632a1292-8648-4cfb-9aef-3a87dc3a29ab","versionCounter":9,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-20T04:50:04.781Z","createdAt":"2026-02-20T04:50:04.781Z","role":"workflow:owner","workflowId":"q55Rpyl31a6iWmbH","projectId":"GMti3yVfXXNaA8WZ","project":{"updatedAt":"2026-02-20T04:54:01.168Z","createdAt":"2026-02-20T04:49:18.501Z","id":"GMti3yVfXXNaA8WZ","name":"Tran Dung Do <adriando@umich.edu>","type":"personal","icon":null,"description":null,"creatorId":"3b71ac73-c80c-47e9-a210-e6fb9bac3948"}}]}]