ba_live.json
[{"updatedAt":"2026-02-20T04:51:23.000Z","createdAt":"2026-02-20T04:49:55.024Z","id":"kQXMXt9cEz66jOw9","name":"WF_Agent_BA","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sim/v2/agent/ba","responseMode":"responseNode","options":{}},"id":"fd575c74-17c8-43a8-bf1d-c4f6cf28d95a","name":"Webhook BA","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-420,240]},{"parameters":{"jsCode":"const body = $json.body ?? $json;\nconst candidateMsg = String(body.candidate_last_message || '').trim();\n\nlet text = 'Can you give delivery sequencing and ETA in one line?';\nif (/delay|defer|later|after hotfix/i.test(candidateMsg)) {\n  text = 'If we defer VIP discount, what business impact should I communicate now?';\n} else if (/ship vip|vip first/i.test(candidateMsg)) {\n  text = 'If VIP ships now, how do you contain payment risk in the same window?';\n}\n\nreturn [{\n  json: {\n    agent: 'ba',\n    text,\n    intent_tag: 'ba_scope_deadline_impact',\n    needs_followup: true\n  }\n}];"},"id":"6cc12a7c-8ad4-4bf2-bf63-7e88fc57bda1","name":"Generate BA Reply","type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,240]},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{}},"id":"9b0cbbdb-ed8b-47e6-aa1d-b0eb457f6a8b","name":"Respond BA","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[60,240]}],"connections":{"Webhook BA":{"main":[[{"node":"Generate BA Reply","type":"main","index":0}]]},"Generate BA Reply":{"main":[[{"node":"Respond BA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":null,"versionId":"556c162d-ecd8-4adf-9748-4d8edb760450","activeVersionId":"556c162d-ecd8-4adf-9748-4d8edb760450","versionCounter":6,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-20T04:49:55.030Z","createdAt":"2026-02-20T04:49:55.030Z","role":"workflow:owner","workflowId":"kQXMXt9cEz66jOw9","projectId":"GMti3yVfXXNaA8WZ","project":{"updatedAt":"2026-02-20T04:54:01.168Z","createdAt":"2026-02-20T04:49:18.501Z","id":"GMti3yVfXXNaA8WZ","name":"Tran Dung Do <adriando@umich.edu>","type":"personal","icon":null,"description":null,"creatorId":"3b71ac73-c80c-47e9-a210-e6fb9bac3948"}}]}]