qa_live.json
[{"updatedAt":"2026-02-20T04:51:21.000Z","createdAt":"2026-02-20T04:50:04.777Z","id":"q55Rpyl31a6iWmbH","name":"WF_Agent_QA","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sim/v2/agent/qa","responseMode":"responseNode","options":{}},"id":"4f0d0c31-9b74-4a53-a6f8-d1810bd1d3ae","name":"Webhook QA","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-420,240]},{"parameters":{"jsCode":"const body = $json.body ?? $json;\nconst candidateMsg = String(body.candidate_last_message || '').trim();\n\nlet text = 'Share your first containment step. I will validate with replay tests.';\nif (/repro|steps|how to reproduce|log/i.test(candidateMsg)) {\n  text = 'Repro: retry checkout with simulated gateway timeout. Confirm idempotency key handling first.';\n} else if (/done|fixed|patched/i.test(candidateMsg)) {\n  text = 'What exact test proves duplicate-charge is contained in production-like conditions?';\n}\n\nreturn [{\n  json: {\n    agent: 'qa',\n    text,\n    intent_tag: 'qa_repro_validation',\n    needs_followup: true\n  }\n}];"},"id":"a6fe8d2e-5f35-4f47-b4e9-51f6d60d9a8f","name":"Generate QA Reply","type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,240]},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{}},"id":"e6f93e27-4dc2-452a-a1d5-fb9847f22752","name":"Respond QA","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[60,240]}],"connections":{"Webhook QA":{"main":[[{"node":"Generate QA Reply","type":"main","index":0}]]},"Generate QA Reply":{"main":[[{"node":"Respond QA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":null,"versionId":"e1b7f57d-5056-40ad-ac9b-f4d16ccb0a1b","activeVersionId":"e1b7f57d-5056-40ad-ac9b-f4d16ccb0a1b","versionCounter":6,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-20T04:50:04.781Z","createdAt":"2026-02-20T04:50:04.781Z","role":"workflow:owner","workflowId":"q55Rpyl31a6iWmbH","projectId":"GMti3yVfXXNaA8WZ","project":{"updatedAt":"2026-02-20T04:54:01.168Z","createdAt":"2026-02-20T04:49:18.501Z","id":"GMti3yVfXXNaA8WZ","name":"Tran Dung Do <adriando@umich.edu>","type":"personal","icon":null,"description":null,"creatorId":"3b71ac73-c80c-47e9-a210-e6fb9bac3948"}}]}]