tl_live.json
[{"updatedAt":"2026-02-20T04:51:25.000Z","createdAt":"2026-02-20T04:49:55.490Z","id":"ne4zxBzmEngsv2di","name":"WF_Agent_TechLead","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sim/v2/agent/techlead","responseMode":"responseNode","options":{}},"id":"7df40e21-2f24-4b58-956f-5d0f604fefdb","name":"Webhook TechLead","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-420,240]},{"parameters":{"jsCode":"const body = $json.body ?? $json;\nconst candidateMsg = String(body.candidate_last_message || '').trim();\n\nlet text = 'Pick one now: hotfix first or VIP feature first, and why?';\nif (/hotfix first/i.test(candidateMsg)) {\n  text = 'State rollback and monitoring plan in one concise answer.';\n} else if (/vip first/i.test(candidateMsg)) {\n  text = 'State immediate risk controls if VIP ships first.';\n}\n\nreturn [{\n  json: {\n    agent: 'tech_lead',\n    text,\n    intent_tag: 'techlead_tradeoff_risk',\n    needs_followup: true\n  }\n}];"},"id":"f93f6c19-d8a6-4f3e-a72f-b93430bff899","name":"Generate TechLead Reply","type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,240]},{"parameters":{"respondWith":"json","responseBody":"={{$json}}","options":{}},"id":"32102287-7455-45ce-b84c-4136f2fdce94","name":"Respond TechLead","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[60,240]}],"connections":{"Webhook TechLead":{"main":[[{"node":"Generate TechLead Reply","type":"main","index":0}]]},"Generate TechLead Reply":{"main":[[{"node":"Respond TechLead","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":null,"versionId":"12727ae4-48ae-444d-9f5f-7379baf51112","activeVersionId":"12727ae4-48ae-444d-9f5f-7379baf51112","versionCounter":6,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-20T04:49:55.494Z","createdAt":"2026-02-20T04:49:55.494Z","role":"workflow:owner","workflowId":"ne4zxBzmEngsv2di","projectId":"GMti3yVfXXNaA8WZ","project":{"updatedAt":"2026-02-20T04:54:01.168Z","createdAt":"2026-02-20T04:49:18.501Z","id":"GMti3yVfXXNaA8WZ","name":"Tran Dung Do <adriando@umich.edu>","type":"personal","icon":null,"description":null,"creatorId":"3b71ac73-c80c-47e9-a210-e6fb9bac3948"}}]}]