n8n/workflows/v2/WF_Agent_QA.json
{
  "name": "WF_Agent_QA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sim/v2/agent/qa",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4f0d0c31-9b74-4a53-a6f8-d1810bd1d3ae",
      "name": "Webhook QA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -420,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst candidateMsg = String(body.candidate_last_message || '').trim();\n\nlet text = 'Share your first containment step. I will validate with replay tests.';\nif (/repro|steps|how to reproduce|log/i.test(candidateMsg)) {\n  text = 'Repro: retry checkout with simulated gateway timeout. Confirm idempotency key handling first.';\n} else if (/done|fixed|patched/i.test(candidateMsg)) {\n  text = 'What exact test proves duplicate-charge is contained in production-like conditions?';\n}\n\nreturn [{\n  json: {\n    agent: 'qa',\n    text,\n    intent_tag: 'qa_repro_validation',\n    needs_followup: true\n  }\n}];"
      },
      "id": "a6fe8d2e-5f35-4f47-b4e9-51f6d60d9a8f",
      "name": "Generate QA Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "e6f93e27-4dc2-452a-a1d5-fb9847f22752",
      "name": "Respond QA",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        60,
        240
      ]
    }
  ],
  "connections": {
    "Webhook QA": {
      "main": [
        [
          {
            "node": "Generate QA Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate QA Reply": {
      "main": [
        [
          {
            "node": "Respond QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f83c2d9a-3fa7-4f08-873d-feb42ed14ad0",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
